[package]
name = "acvm"
description = "The virtual machine that processes ACIR given a backend/proof system."
version = "0.6.0"
authors.workspace = true
edition.workspace = true
license.workspace = true
rust-version.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
num-bigint.workspace = true
num-traits.workspace = true
blake2.workspace = true

acir.workspace = true
stdlib.workspace = true

sha2 = "0.9.3"
k256 = { version = "0.7.2", features = [
    "ecdsa",
    "ecdsa-core",
    "sha256",
    "digest",
    "arithmetic",
] }
indexmap = "1.7.0"
thiserror = "1.0.21"

[features]
bn254 = ["acir/bn254"]
bls12_381 = ["acir/bls12_381"]

[dev-dependencies]
rand = "0.8.5"
